<a href="https://colab.research.google.com/github/shreya139/Circuits-in-Stocks/blob/main/Circuit_algo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

7/3/2023

#WORKING ONLY FOR UPPER CIRCUIT AS OF NOW

In [1]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.12-py2.py3-none-any.whl (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.2/59.2 KB 2.3 MB/s eta 0:00:00
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 6.0 MB/s eta 0:00:00
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.2-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 38.7 MB/s eta 0:00:00
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 7.4 MB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.5-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (111 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.2/111.2 KB 10.2 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.22.4)
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 6.7 MB/s eta 0:00:00
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Collecting soupsieve>1.2
  Downloading soupsieve-2.4-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.26.14)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (3.0.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.2 cryptography-39.0.2 frozendict-2.3.5 html5lib-1.1 requests-2.28.2 soupsieve-2.4 yfinance-0.2.12

In [17]:
import numpy as np

In [11]:
from pandas_datareader import data as pdr
import pandas as pd
import yfinance as yf
yf.pdr_override()

In [57]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
data = pdr.get_data_yahoo("SALASAR.NS", start="2023-01-01", end="2023-03-07",interval='1d')
data

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close   Volume
Date
2023-01-02  51.950001  54.250000  51.950001  53.849998  53.849998  2226997
2023-01-03  54.049999  55.250000  52.150002  52.799999  52.799999  1353288
2023-01-04  52.049999  53.349998  50.200001  50.500000  50.500000  2050914
2023-01-05  50.900002  51.500000  48.849998  49.900002  49.900002   595092
2023-01-06  50.000000  50.250000  48.099998  48.950001  48.950001   510870
2023-01-09  49.400002  51.349998  49.349998  51.299999  51.299999  1992490
2023-01-10  53.000000  53.200001  51.099998  51.500000  51.500000  2521453
2023-01-11  50.900002  51.650002  49.200001  50.200001  50.200001  1178944
2023-01-12  50.549999  52.400002  49.750000  51.750000  51.750000  1275542
2023-01-13  50.849998  53.400002  50.700001  50.900002  50.900002   849744
2023-01-16  51.099998  51.700001  49.450001  50.250000  50.250000   971202
2023-01-17  50.400002  50.400002  49.200001  49.650002  49.650002   821737
2023-01-18  49.650002  52.099998  49.400002  52.099998  52.099998  2944630
2023-01-19  51.599998  53.849998  51.049999  51.849998  51.849998  1366351
2023-01-20  52.000000  52.299999  50.049999  50.299999  50.299999   783719
2023-01-23  50.750000  50.750000  48.950001  49.450001  49.450001   660075
2023-01-24  49.049999  49.799999  48.200001  48.599998  48.599998   723581
2023-01-25  48.650002  48.650002  46.700001  47.400002  47.400002   512277
2023-01-27  48.000000  48.000000  45.049999  45.049999  45.049999   995887
2023-01-30  44.950001  47.299999  44.000000  45.700001  45.700001   639242
2023-01-31  46.299999  47.950001  46.250000  47.849998  47.849998   302510
2023-02-01  48.650002  48.950001  45.450001  45.900002  45.900002   331306
2023-02-02  45.950001  47.299999  43.900002  44.549999  44.549999   463746
2023-02-03  45.400002  46.349998  42.900002  45.599998  45.599998  1740570
2023-02-06  45.599998  47.200001  45.049999  46.049999  46.049999  1414603
2023-02-07  46.400002  46.849998  43.000000  43.799999  43.799999   822981
2023-02-08  44.450001  44.650002  42.849998  43.349998  43.349998   927093
2023-02-09  43.900002  45.299999  42.950001  43.700001  43.700001   712393
2023-02-10  43.950001  45.250000  43.599998  44.599998  44.599998   313091
2023-02-13  46.299999  46.750000  40.150002  41.049999  41.049999   972507
2023-02-14  41.950001  42.900002  41.750000  42.500000  42.500000   926387
2023-02-15  42.849998  43.700001  41.650002  42.650002  42.650002   370024
2023-02-16  43.000000  46.400002  42.400002  45.250000  45.250000  2163484
2023-02-17  46.000000  46.799999  45.000000  46.099998  46.099998   654627
2023-02-20  46.450001  46.450001  44.500000  45.000000  45.000000   314626
2023-02-21  45.000000  45.299999  44.000000  44.400002  44.400002  1012368
2023-02-22  44.650002  44.900002  43.500000  43.650002  43.650002  1283208
2023-02-23  44.000000  44.000000  43.000000  43.299999  43.299999  1466307
2023-02-24  43.400002  44.000000  42.900002  43.150002  43.150002   183618
2023-02-27  43.299999  43.700001  41.000000  42.650002  42.650002   241715
2023-02-28  43.500000  44.200001  41.049999  42.299999  42.299999   928380
2023-03-01  42.299999  43.650002  41.849998  42.799999  42.799999  1317197
2023-03-02  43.000000  43.200001  41.799999  42.099998  42.099998   186499
2023-03-03  42.250000  43.400002  42.250000  42.900002  42.900002   161864
2023-03-06  43.000000  47.150002  41.900002  47.150002  47.150002  1196712

In [58]:
data = data.drop(['Adj Close'] , axis =1)

In [59]:
a=np.zeros((len(data),1))
data['per_change'] = a

In [60]:
data['Close'][3]

49.900001525878906

In [61]:
for i in range(1,len(data)):
  data['per_change'][i] = ((data['Close'][i] - data['Close'][i-1] )/(data['Close'][i-1]))*100

<ipython-input-61-6dd92d747872>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['per_change'][i] = ((data['Close'][i] - data['Close'][i-1] )/(data['Close'][i-1]))*100

In [62]:
data

                 Open       High        Low      Close   Volume  per_change
Date
2023-01-02  51.950001  54.250000  51.950001  53.849998  2226997    0.000000
2023-01-03  54.049999  55.250000  52.150002  52.799999  1353288   -1.949859
2023-01-04  52.049999  53.349998  50.200001  50.500000  2050914   -4.356059
2023-01-05  50.900002  51.500000  48.849998  49.900002   595092   -1.188116
2023-01-06  50.000000  50.250000  48.099998  48.950001   510870   -1.903809
2023-01-09  49.400002  51.349998  49.349998  51.299999  1992490    4.800814
2023-01-10  53.000000  53.200001  51.099998  51.500000  2521453    0.389865
2023-01-11  50.900002  51.650002  49.200001  50.200001  1178944   -2.524270
2023-01-12  50.549999  52.400002  49.750000  51.750000  1275542    3.087648
2023-01-13  50.849998  53.400002  50.700001  50.900002   849744   -1.642509
2023-01-16  51.099998  51.700001  49.450001  50.250000   971202   -1.277017
2023-01-17  50.400002  50.400002  49.200001  49.650002   821737   -1.194027
2023-01-18  49.650002  52.099998  49.400002  52.099998  2944630    4.934535
2023-01-19  51.599998  53.849998  51.049999  51.849998  1366351   -0.479846
2023-01-20  52.000000  52.299999  50.049999  50.299999   783719   -2.989391
2023-01-23  50.750000  50.750000  48.950001  49.450001   660075   -1.689858
2023-01-24  49.049999  49.799999  48.200001  48.599998   723581   -1.718913
2023-01-25  48.650002  48.650002  46.700001  47.400002   512277   -2.469130
2023-01-27  48.000000  48.000000  45.049999  45.049999   995887   -4.957811
2023-01-30  44.950001  47.299999  44.000000  45.700001   639242    1.442845
2023-01-31  46.299999  47.950001  46.250000  47.849998   302510    4.704590
2023-02-01  48.650002  48.950001  45.450001  45.900002   331306   -4.075229
2023-02-02  45.950001  47.299999  43.900002  44.549999   463746   -2.941181
2023-02-03  45.400002  46.349998  42.900002  45.599998  1740570    2.356901
2023-02-06  45.599998  47.200001  45.049999  46.049999  1414603    0.986844
2023-02-07  46.400002  46.849998  43.000000  43.799999   822981   -4.885994
2023-02-08  44.450001  44.650002  42.849998  43.349998   927093   -1.027399
2023-02-09  43.900002  45.299999  42.950001  43.700001   712393    0.807387
2023-02-10  43.950001  45.250000  43.599998  44.599998   313091    2.059491
2023-02-13  46.299999  46.750000  40.150002  41.049999   972507   -7.959640
2023-02-14  41.950001  42.900002  41.750000  42.500000   926387    3.532280
2023-02-15  42.849998  43.700001  41.650002  42.650002   370024    0.352945
2023-02-16  43.000000  46.400002  42.400002  45.250000  2163484    6.096128
2023-02-17  46.000000  46.799999  45.000000  46.099998   654627    1.878450
2023-02-20  46.450001  46.450001  44.500000  45.000000   314626   -2.386114
2023-02-21  45.000000  45.299999  44.000000  44.400002  1012368   -1.333330
2023-02-22  44.650002  44.900002  43.500000  43.650002  1283208   -1.689189
2023-02-23  44.000000  44.000000  43.000000  43.299999  1466307   -0.801838
2023-02-24  43.400002  44.000000  42.900002  43.150002   183618   -0.346415
2023-02-27  43.299999  43.700001  41.000000  42.650002   241715   -1.158749
2023-02-28  43.500000  44.200001  41.049999  42.299999   928380   -0.820638
2023-03-01  42.299999  43.650002  41.849998  42.799999  1317197    1.182033
2023-03-02  43.000000  43.200001  41.799999  42.099998   186499   -1.635516
2023-03-03  42.250000  43.400002  42.250000  42.900002   161864    1.900245
2023-03-06  43.000000  47.150002  41.900002  47.150002  1196712    9.906760

In [63]:
data['high_min_preclose%'] =a  # a is zero matrix
#Calculating percentage of Day high - previous day close
for i in range(1,len(data)):
  data['high_min_preclose%'][i] = ((data['High'][i] - data['Close'][i-1] )/(data['Close'][i-1]))*100 
data

<ipython-input-63-1d2e7aa25dac>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['high_min_preclose%'][i] = ((data['High'][i] - data['Close'][i-1] )/(data['Close'][i-1]))*100

,Open,High,Low,Close,Volume,per_change,high_min_preclose%
Date,,,,,,,
2023-01-02,51.950001,54.250000,51.950001,53.849998,2226997,0.000000,0.000000
2023-01-03,54.049999,55.250000,52.150002,52.799999,1353288,-1.949859,2.599817
2023-01-04,52.049999,53.349998,50.200001,50.500000,2050914,-4.356059,1.041665
2023-01-05,50.900002,51.500000,48.849998,49.900002,595092,-1.188116,1.980198
2023-01-06,50.000000,50.250000,48.099998,48.950001,510870,-1.903809,0.701400
2023-01-09,49.400002,51.349998,49.349998,51.299999,1992490,4.800814,4.902957
2023-01-10,53.000000,53.200001,51.099998,51.500000,2521453,0.389865,3.703707
2023-01-11,50.900002,51.650002,49.200001,50.200001,1178944,-2.524270,0.291265
2023-01-12,50.549999,52.400002,49.750000,51.750000,1275542,3.087648,4.382472
2023-01-13,50.849998,53.400002,50.700001,50.900002,849744,-1.642509,3.188409
2023-01-16,51.099998,51.700001,49.450001,50.250000,971202,-1.277017,1.571708
2023-01-17,50.400002,50.400002,49.200001,49.650002,821737,-1.194027,0.298510
2023-01-18,49.650002,52.099998,49.400002,52.099998,2944630,4.934535,4.934535
2023-01-19,51.599998,53.849998,51.049999,51.849998,1366351,-0.479846,3.358925
2023-01-20,52.000000,52.299999,50.049999,50.299999,783719,-2.989391,0.867890
2023-01-23,50.750000,50.750000,48.950001,49.450001,660075,-1.689858,0.894634
2023-01-24,49.049999,49.799999,48.200001,48.599998,723581,-1.718913,0.707783
2023-01-25,48.650002,48.650002,46.700001,47.400002,512277,-2.469130,0.102887
2023-01-27,48.000000,48.000000,45.049999,45.049999,995887,-4.957811,1.265820
2023-01-30,44.950001,47.299999,44.000000,45.700001,639242,1.442845,4.994451
2023-01-31,46.299999,47.950001,46.250000,47.849998,302510,4.704590,4.923413
2023-02-01,48.650002,48.950001,45.450001,45.900002,331306,-4.075229,2.298855
2023-02-02,45.950001,47.299999,43.900002,44.549999,463746,-2.941181,3.050104
2023-02-03,45.400002,46.349998,42.900002,45.599998,1740570,2.356901,4.040402
2023-02-06,45.599998,47.200001,45.049999,46.049999,1414603,0.986844,3.508777
2023-02-07,46.400002,46.849998,43.000000,43.799999,822981,-4.885994,1.737241
2023-02-08,44.450001,44.650002,42.849998,43.349998,927093,-1.027399,1.940645
2023-02-09,43.900002,45.299999,42.950001,43.700001,712393,0.807387,4.498272
2023-02-10,43.950001,45.250000,43.599998,44.599998,313091,2.059491,3.546909
2023-02-13,46.299999,46.750000,40.150002,41.049999,972507,-7.959640,4.820631
2023-02-14,41.950001,42.900002,41.750000,42.500000,926387,3.532280,4.506705
2023-02-15,42.849998,43.700001,41.650002,42.650002,370024,0.352945,2.823531
2023-02-16,43.000000,46.400002,42.400002,45.250000,2163484,6.096128,8.792497
2023-02-17,46.000000,46.799999,45.000000,46.099998,654627,1.878450,3.425413
2023-02-20,46.450001,46.450001,44.500000,45.000000,314626,-2.386114,0.759224
2023-02-21,45.000000,45.299999,44.000000,44.400002,1012368,-1.333330,0.666665
2023-02-22,44.650002,44.900002,43.500000,43.650002,1283208,-1.689189,1.126126
2023-02-23,44.000000,44.000000,43.000000,43.299999,1466307,-0.801838,0.801829
2023-02-24,43.400002,44.000000,42.900002,43.150002,183618,-0.346415,1.616630
2023-02-27,43.299999,43.700001,41.000000,42.650002,241715,-1.158749,1.274622
2023-02-28,43.500000,44.200001,41.049999,42.299999,928380,-0.820638,3.634230
2023-03-01,42.299999,43.650002,41.849998,42.799999,1317197,1.182033,3.191495
2023-03-02,43.000000,43.200001,41.799999,42.099998,186499,-1.635516,0.934583
2023-03-03,42.250000,43.400002,42.250000,42.900002,161864,1.900245,3.087893
2023-03-06,43.000000,47.150002,41.900002,47.150002,1196712,9.906760,9.906760