<a href="https://colab.research.google.com/github/shreya139/Circuits-in-Stocks/blob/main/data_levelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.9-py2.py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.9/55.9 KB 2.4 MB/s eta 0:00:00
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 5.7 MB/s eta 0:00:00
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 10.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 11.7 MB/s eta 0:00:00
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 9.7 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7.1)
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.0-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 31.9 MB/s eta 0:00:00
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.2 cryptography-39.0.0 frozendict-2.3.4 html5lib-1.1 requests-2.28.2 soupsieve-2.3.2.post1 yfinance-0.2.9

In [1]:
stock_list = ['3MINDIA', 'ADANIGREEN','AFFLE','AIAENG','AKZOINDIA','AMARAJABAT','ANURAS','ASTERDM',
 'AXISBANK', 'BAYERCROP','BCG','BDL','BHARTIARTL','DABUR','DMART','FACT','FIVESTAR','FORTIS','GARFIBRES','GLAND',
 'GNFC', 'GUJGASLTD','HAPPSTMNDS','HAVELLS','IRCTC','KRBL','LALPATHLAB','LATENTVIEW','LICI','MAZDOCK','NH',
 'NMDC', 'PATANJALI','PGHL','PSB','RELAXO','RHIM','SAIL','SAPPHIRE','SCI','SHREECEM','STARHEALTH','TATACONSUM',
 'TATAINVEST', 'TECHM','THERMAX','TTKPRESTIG','VEDL','WELCORP','WHIRLPOOL']

In [2]:
for i in range(len(stock_list)):
  stock_list[i] += '.NS'
stock_list

['3MINDIA.NS',
 'ADANIGREEN.NS',
 'AFFLE.NS',
 'AIAENG.NS',
 'AKZOINDIA.NS',
 'AMARAJABAT.NS',
 'ANURAS.NS',
 'ASTERDM.NS',
 'AXISBANK.NS',
 'BAYERCROP.NS',
 'BCG.NS',
 'BDL.NS',
 'BHARTIARTL.NS',
 'DABUR.NS',
 'DMART.NS',
 'FACT.NS',
 'FIVESTAR.NS',
 'FORTIS.NS',
 'GARFIBRES.NS',
 'GLAND.NS',
 'GNFC.NS',
 'GUJGASLTD.NS',
 'HAPPSTMNDS.NS',
 'HAVELLS.NS',
 'IRCTC.NS',
 'KRBL.NS',
 'LALPATHLAB.NS',
 'LATENTVIEW.NS',
 'LICI.NS',
 'MAZDOCK.NS',
 'NH.NS',
 'NMDC.NS',
 'PATANJALI.NS',
 'PGHL.NS',
 'PSB.NS',
 'RELAXO.NS',
 'RHIM.NS',
 'SAIL.NS',
 'SAPPHIRE.NS',
 'SCI.NS',
 'SHREECEM.NS',
 'STARHEALTH.NS',
 'TATACONSUM.NS',
 'TATAINVEST.NS',
 'TECHM.NS',
 'THERMAX.NS',
 'TTKPRESTIG.NS',
 'VEDL.NS',
 'WELCORP.NS',
 'WHIRLPOOL.NS']

In [5]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override()

In [35]:
data = pdr.get_data_yahoo(stock_list, start="2022-01-01", end="2022-12-31",interval="1h")
data.to_csv("50Stocks.csv",index=True)
data

[*********************100%***********************]  50 of 50 completed

                              Adj Close                             \
                             3MINDIA.NS ADANIGREEN.NS     AFFLE.NS
Datetime
2022-01-03 09:15:00+05:30  25799.949219   1346.099976  1133.300049
2022-01-03 10:15:00+05:30  25700.000000   1350.949951  1147.000000
2022-01-03 11:15:00+05:30  25800.000000   1344.000000  1181.000000
2022-01-03 12:15:00+05:30  25788.949219   1349.250000  1181.000000
2022-01-03 13:15:00+05:30  25799.949219   1349.550049  1196.199951
...                                 ...           ...          ...
2022-12-30 11:15:00+05:30  22050.050781   1957.550049  1089.000000
2022-12-30 12:15:00+05:30  22031.699219   1954.000000  1086.000000
2022-12-30 13:15:00+05:30  22001.000000   1964.050049  1079.550049
2022-12-30 14:15:00+05:30  21975.599609   1920.000000  1085.949951
2022-12-30 15:15:00+05:30  21943.099609   1931.800049  1080.000000

                                                                   \
                             AIAENG.NS AKZOINDIA.NS AMARAJABAT.NS
Datetime
2022-01-03 09:15:00+05:30  1880.800049  2037.000000    640.900024
2022-01-03 10:15:00+05:30  1872.750000  2032.099976    640.250000
2022-01-03 11:15:00+05:30  1870.000000  2034.099976    638.400024
2022-01-03 12:15:00+05:30  1865.000000  2033.050049    638.650024
2022-01-03 13:15:00+05:30  1855.000000  2038.000000    637.950012
...                                ...          ...           ...
2022-12-30 11:15:00+05:30  2598.449951  2229.649902    560.599976
2022-12-30 12:15:00+05:30  2616.149902  2222.350098    558.799988
2022-12-30 13:15:00+05:30  2614.500000  2224.550049    562.400024
2022-12-30 14:15:00+05:30  2553.149902  2226.250000    573.049988
2022-12-30 15:15:00+05:30  2564.949951  2219.550049    571.000000

                                                                             \
                             ANURAS.NS  ASTERDM.NS AXISBANK.NS BAYERCROP.NS
Datetime
2022-01-03 09:15:00+05:30   997.349976  179.649994  687.200012  4990.100098
2022-01-03 10:15:00+05:30  1003.599976  178.600006  691.400024  4999.899902
2022-01-03 11:15:00+05:30  1006.450012  178.050003  692.000000  4966.750000
2022-01-03 12:15:00+05:30  1014.000000  177.699997  695.150024  4967.149902
2022-01-03 13:15:00+05:30  1018.299988  178.800003  694.500000  4952.750000
...                                ...         ...         ...          ...
2022-12-30 11:15:00+05:30   677.000000  231.199997  935.200012  4862.600098
2022-12-30 12:15:00+05:30   674.150024  231.250000  933.500000  4855.750000
2022-12-30 13:15:00+05:30   675.099976  230.500000  936.849976  4874.000000
2022-12-30 14:15:00+05:30   678.849976  231.199997  933.200012  4948.000000
2022-12-30 15:15:00+05:30   679.450012  231.100006  934.250000  4937.399902

                           ...      Volume                              \
                           ... SHREECEM.NS STARHEALTH.NS TATACONSUM.NS
Datetime                   ...
2022-01-03 09:15:00+05:30  ...           0             0             0
2022-01-03 10:15:00+05:30  ...        1342         37896        150540
2022-01-03 11:15:00+05:30  ...        1819          8006        175438
2022-01-03 12:15:00+05:30  ...        1397         19198        118295
2022-01-03 13:15:00+05:30  ...        3230         23795         86904
...                        ...         ...           ...           ...
2022-12-30 11:15:00+05:30  ...        7248         16956         86060
2022-12-30 12:15:00+05:30  ...        4233         12332         73767
2022-12-30 13:15:00+05:30  ...        6364         11380         63546
2022-12-30 14:15:00+05:30  ...       10576         13389        156730
2022-12-30 15:15:00+05:30  ...        2426         12601        118351

                                                                           \
                          TATAINVEST.NS TECHM.NS THERMAX.NS TTKPRESTIG.NS
Datetime
2022-01-03 09:15:00+05:30             0        0          0             0
2022-01-03 10:15:00+05:30          8109   191929      37097         62825
2022-01-03 11:15:00+05:30          3059   238614       8014         33965
2022-01-03 12:15:00+05:30          1786   159259       3857         12815
2022-01-03 13:15:00+05:30          8403   163548       3412         10663
...                                 ...      ...        ...           ...
2022-12-30 11:15:00+05:30          1766   137897       1175          3203
2022-12-30 12:15:00+05:30          2381   177888       5163          2429
2022-12-30 13:15:00+05:30           709   201976       4732          1805
2022-12-30 14:15:00+05:30          2441   176664       3320          5283
2022-12-30 15:15:00+05:30          1689    92390       3198          4414


                           VEDL.NS WELCORP.NS WHIRLPOOL.NS
Datetime
2022-01-03 09:15:00+05:30        0          0            0
2022-01-03 10:15:00+05:30  1146512     157360        33881
2022-01-03 11:15:00+05:30  1527974      89077        19255
2022-01-03 12:15:00+05:30   670324     105924        10344
2022-01-03 13:15:00+05:30  1467574      86967        13829
...                            ...        ...          ...
2022-12-30 11:15:00+05:30   598615     143039         3162
2022-12-30 12:15:00+05:30   510527      72545         5645
2022-12-30 13:15:00+05:30   419112     103713         4334
2022-12-30 14:15:00+05:30  1052979     310860         8545
2022-12-30 15:15:00+05:30   415090     156639         5314

[1730 rows x 300 columns]

In [36]:
data.columns

MultiIndex([('Adj Close',    '3MINDIA.NS'),
            ('Adj Close', 'ADANIGREEN.NS'),
            ('Adj Close',      'AFFLE.NS'),
            ('Adj Close',     'AIAENG.NS'),
            ('Adj Close',  'AKZOINDIA.NS'),
            ('Adj Close', 'AMARAJABAT.NS'),
            ('Adj Close',     'ANURAS.NS'),
            ('Adj Close',    'ASTERDM.NS'),
            ('Adj Close',   'AXISBANK.NS'),
            ('Adj Close',  'BAYERCROP.NS'),
            ...
            (   'Volume',   'SHREECEM.NS'),
            (   'Volume', 'STARHEALTH.NS'),
            (   'Volume', 'TATACONSUM.NS'),
            (   'Volume', 'TATAINVEST.NS'),
            (   'Volume',      'TECHM.NS'),
            (   'Volume',    'THERMAX.NS'),
            (   'Volume', 'TTKPRESTIG.NS'),
            (   'Volume',       'VEDL.NS'),
            (   'Volume',    'WELCORP.NS'),
            (   'Volume',  'WHIRLPOOL.NS')],
           length=300)

In [44]:
import pandas as pd

In [38]:
data.columns = [f'{i}{j}' for i,j in data.columns]
data

,Adj Close3MINDIA.NS,Adj CloseADANIGREEN.NS,Adj CloseAFFLE.NS,Adj CloseAIAENG.NS,Adj CloseAKZOINDIA.NS,Adj CloseAMARAJABAT.NS,Adj CloseANURAS.NS,Adj CloseASTERDM.NS,Adj CloseAXISBANK.NS,Adj CloseBAYERCROP.NS,...,VolumeSHREECEM.NS,VolumeSTARHEALTH.NS,VolumeTATACONSUM.NS,VolumeTATAINVEST.NS,VolumeTECHM.NS,VolumeTHERMAX.NS,VolumeTTKPRESTIG.NS,VolumeVEDL.NS,VolumeWELCORP.NS,VolumeWHIRLPOOL.NS
Datetime,,,,,,,,,,,,,,,,,,,,,
2022-01-03 09:15:00+05:30,25799.949219,1346.099976,1133.300049,1880.800049,2037.000000,640.900024,997.349976,179.649994,687.200012,4990.100098,...,0,0,0,0,0,0,0,0,0,0
2022-01-03 10:15:00+05:30,25700.000000,1350.949951,1147.000000,1872.750000,2032.099976,640.250000,1003.599976,178.600006,691.400024,4999.899902,...,1342,37896,150540,8109,191929,37097,62825,1146512,157360,33881
2022-01-03 11:15:00+05:30,25800.000000,1344.000000,1181.000000,1870.000000,2034.099976,638.400024,1006.450012,178.050003,692.000000,4966.750000,...,1819,8006,175438,3059,238614,8014,33965,1527974,89077,19255
2022-01-03 12:15:00+05:30,25788.949219,1349.250000,1181.000000,1865.000000,2033.050049,638.650024,1014.000000,177.699997,695.150024,4967.149902,...,1397,19198,118295,1786,159259,3857,12815,670324,105924,10344
2022-01-03 13:15:00+05:30,25799.949219,1349.550049,1196.199951,1855.000000,2038.000000,637.950012,1018.299988,178.800003,694.500000,4952.750000,...,3230,23795,86904,8403,163548,3412,10663,1467574,86967,13829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-30 11:15:00+05:30,22050.050781,1957.550049,1089.000000,2598.449951,2229.649902,560.599976,677.000000,231.199997,935.200012,4862.600098,...,7248,16956,86060,1766,137897,1175,3203,598615,143039,3162
2022-12-30 12:15:00+05:30,22031.699219,1954.000000,1086.000000,2616.149902,2222.350098,558.799988,674.150024,231.250000,933.500000,4855.750000,...,4233,12332,73767,2381,177888,5163,2429,510527,72545,5645
2022-12-30 13:15:00+05:30,22001.000000,1964.050049,1079.550049,2614.500000,2224.550049,562.400024,675.099976,230.500000,936.849976,4874.000000,...,6364,11380,63546,709,201976,4732,1805,419112,103713,4334
2022-12-30 14:15:00+05:30,21975.599609,1920.000000,1085.949951,2553.149902,2226.250000,573.049988,678.849976,231.199997,933.200012,4948.000000,...,10576,13389,156730,2441,176664,3320,5283,1052979,310860,8545
2022-12-30 15:15:00+05:30,21943.099609,1931.800049,1080.000000,2564.949951,2219.550049,571.000000,679.450012,231.100006,934.250000,4937.399902,...,2426,12601,118351,1689,92390,3198,4414,415090,156639,5314

In [39]:
data['Datetime'] = list(data.index)

<ipython-input-39-02f3ba3a27bd>:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data['Datetime'] = list(data.index)

In [40]:
data

,Adj Close3MINDIA.NS,Adj CloseADANIGREEN.NS,Adj CloseAFFLE.NS,Adj CloseAIAENG.NS,Adj CloseAKZOINDIA.NS,Adj CloseAMARAJABAT.NS,Adj CloseANURAS.NS,Adj CloseASTERDM.NS,Adj CloseAXISBANK.NS,Adj CloseBAYERCROP.NS,...,VolumeSTARHEALTH.NS,VolumeTATACONSUM.NS,VolumeTATAINVEST.NS,VolumeTECHM.NS,VolumeTHERMAX.NS,VolumeTTKPRESTIG.NS,VolumeVEDL.NS,VolumeWELCORP.NS,VolumeWHIRLPOOL.NS,Datetime
Datetime,,,,,,,,,,,,,,,,,,,,,
2022-01-03 09:15:00+05:30,25799.949219,1346.099976,1133.300049,1880.800049,2037.000000,640.900024,997.349976,179.649994,687.200012,4990.100098,...,0,0,0,0,0,0,0,0,0,2022-01-03 09:15:00+05:30
2022-01-03 10:15:00+05:30,25700.000000,1350.949951,1147.000000,1872.750000,2032.099976,640.250000,1003.599976,178.600006,691.400024,4999.899902,...,37896,150540,8109,191929,37097,62825,1146512,157360,33881,2022-01-03 10:15:00+05:30
2022-01-03 11:15:00+05:30,25800.000000,1344.000000,1181.000000,1870.000000,2034.099976,638.400024,1006.450012,178.050003,692.000000,4966.750000,...,8006,175438,3059,238614,8014,33965,1527974,89077,19255,2022-01-03 11:15:00+05:30
2022-01-03 12:15:00+05:30,25788.949219,1349.250000,1181.000000,1865.000000,2033.050049,638.650024,1014.000000,177.699997,695.150024,4967.149902,...,19198,118295,1786,159259,3857,12815,670324,105924,10344,2022-01-03 12:15:00+05:30
2022-01-03 13:15:00+05:30,25799.949219,1349.550049,1196.199951,1855.000000,2038.000000,637.950012,1018.299988,178.800003,694.500000,4952.750000,...,23795,86904,8403,163548,3412,10663,1467574,86967,13829,2022-01-03 13:15:00+05:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-30 11:15:00+05:30,22050.050781,1957.550049,1089.000000,2598.449951,2229.649902,560.599976,677.000000,231.199997,935.200012,4862.600098,...,16956,86060,1766,137897,1175,3203,598615,143039,3162,2022-12-30 11:15:00+05:30
2022-12-30 12:15:00+05:30,22031.699219,1954.000000,1086.000000,2616.149902,2222.350098,558.799988,674.150024,231.250000,933.500000,4855.750000,...,12332,73767,2381,177888,5163,2429,510527,72545,5645,2022-12-30 12:15:00+05:30
2022-12-30 13:15:00+05:30,22001.000000,1964.050049,1079.550049,2614.500000,2224.550049,562.400024,675.099976,230.500000,936.849976,4874.000000,...,11380,63546,709,201976,4732,1805,419112,103713,4334,2022-12-30 13:15:00+05:30
2022-12-30 14:15:00+05:30,21975.599609,1920.000000,1085.949951,2553.149902,2226.250000,573.049988,678.849976,231.199997,933.200012,4948.000000,...,13389,156730,2441,176664,3320,5283,1052979,310860,8545,2022-12-30 14:15:00+05:30
2022-12-30 15:15:00+05:30,21943.099609,1931.800049,1080.000000,2564.949951,2219.550049,571.000000,679.450012,231.100006,934.250000,4937.399902,...,12601,118351,1689,92390,3198,4414,415090,156639,5314,2022-12-30 15:15:00+05:30

In [41]:
data_wtl = pd.wide_to_long(data, 
                stubnames = ['Adj Close','Close','High','Open','Low', 'Volume'], 
                i=['Datetime'], 
                j='Stock', 
                suffix= '.+', 
                sep='')

In [42]:
data_wtl

,,Adj Close,Close,High,Open,Low,Volume
Datetime,Stock,,,,,,
2022-01-03 09:15:00+05:30,3MINDIA.NS,25799.949219,25799.949219,25890.000000,25448.000000,25358.550781,0.0
2022-01-03 10:15:00+05:30,3MINDIA.NS,25700.000000,25700.000000,25826.750000,25800.000000,25646.750000,1135.0
2022-01-03 11:15:00+05:30,3MINDIA.NS,25800.000000,25800.000000,25809.449219,25699.949219,25667.900391,458.0
2022-01-03 12:15:00+05:30,3MINDIA.NS,25788.949219,25788.949219,25805.000000,25800.000000,25761.949219,511.0
2022-01-03 13:15:00+05:30,3MINDIA.NS,25799.949219,25799.949219,25800.000000,25799.949219,25759.900391,486.0
...,...,...,...,...,...,...,...
2022-12-30 11:15:00+05:30,WHIRLPOOL.NS,1486.000000,1486.000000,1498.099976,1497.300049,1486.000000,3162.0
2022-12-30 12:15:00+05:30,WHIRLPOOL.NS,1495.750000,1495.750000,1496.650024,1486.449951,1481.000000,5645.0
2022-12-30 13:15:00+05:30,WHIRLPOOL.NS,1499.400024,1499.400024,1499.400024,1496.099976,1495.000000,4334.0
2022-12-30 14:15:00+05:30,WHIRLPOOL.NS,1500.250000,1500.250000,1505.000000,1499.699951,1495.000000,8545.0
2022-12-30 15:15:00+05:30,WHIRLPOOL.NS,1497.099976,1497.099976,1500.449951,1500.050049,1492.699951,5314.0

In [45]:
data_wtl.to_csv("dataset_50stocks.csv",index=True)