<a href="https://colab.research.google.com/github/shreya139/Circuits-in-Stocks/blob/main/normalization_and_levelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import preprocessing
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import datetime
from sklearn.preprocessing import MinMaxScaler

In [3]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.9-py2.py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.9/55.9 KB 2.4 MB/s eta 0:00:00
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 6.3 MB/s eta 0:00:00
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 16.4 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.1-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 57.5 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 14.4 MB/s eta 0:00:00
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 7.0 MB/s eta 0:00:00
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.2 cryptography-39.0.1 frozendict-2.3.4 html5lib-1.1 requests-2.28.2 soupsieve-2.3.2.post1 yfinance-0.2.9

In [4]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override()

In [5]:
stock_list = ['3MINDIA', 'ADANIGREEN','AFFLE','AIAENG','AKZOINDIA','AMARAJABAT','ANURAS','ASTERDM',
 'AXISBANK', 'BAYERCROP','BCG','BDL','BHARTIARTL','DABUR','DMART','FACT','FIVESTAR','FORTIS','GARFIBRES','GLAND',
 'GNFC', 'GUJGASLTD','HAPPSTMNDS','HAVELLS','IRCTC','KRBL','LALPATHLAB','LATENTVIEW','LICI','MAZDOCK','NH',
 'NMDC', 'PATANJALI','PGHL','PSB','RELAXO','RHIM','SAIL','SAPPHIRE','SCI','SHREECEM','STARHEALTH','TATACONSUM',
 'TATAINVEST', 'TECHM','THERMAX','TTKPRESTIG','VEDL','WELCORP','WHIRLPOOL']

In [6]:
for i in range(len(stock_list)):
  stock_list[i] += '.NS'

In [14]:
data = pdr.get_data_yahoo(stock_list, start="2022-01-01", end="2022-12-31",interval="1h")
data.to_csv('dataset', index=True)
data

[*********************100%***********************]  50 of 50 completed

                              Adj Close                             \
                             3MINDIA.NS ADANIGREEN.NS     AFFLE.NS
Datetime
2022-01-03 09:15:00+05:30  25799.949219   1346.099976  1133.300049
2022-01-03 10:15:00+05:30  25700.000000   1350.949951  1147.000000
2022-01-03 11:15:00+05:30  25800.000000   1344.000000  1181.000000
2022-01-03 12:15:00+05:30  25788.949219   1349.250000  1181.000000
2022-01-03 13:15:00+05:30  25799.949219   1349.550049  1196.199951
...                                 ...           ...          ...
2022-12-30 11:15:00+05:30  22050.050781   1957.550049  1089.000000
2022-12-30 12:15:00+05:30  22031.699219   1954.000000  1086.000000
2022-12-30 13:15:00+05:30  22001.000000   1964.050049  1079.550049
2022-12-30 14:15:00+05:30  21975.599609   1920.000000  1085.949951
2022-12-30 15:15:00+05:30  21943.099609   1931.800049  1080.000000

                                                                   \
                             AIAENG.NS AKZOINDIA.NS AMARAJABAT.NS
Datetime
2022-01-03 09:15:00+05:30  1880.800049  2037.000000    640.900024
2022-01-03 10:15:00+05:30  1872.750000  2032.099976    640.250000
2022-01-03 11:15:00+05:30  1870.000000  2034.099976    638.400024
2022-01-03 12:15:00+05:30  1865.000000  2033.050049    638.650024
2022-01-03 13:15:00+05:30  1855.000000  2038.000000    637.950012
...                                ...          ...           ...
2022-12-30 11:15:00+05:30  2598.449951  2229.649902    560.599976
2022-12-30 12:15:00+05:30  2616.149902  2222.350098    558.799988
2022-12-30 13:15:00+05:30  2614.500000  2224.550049    562.400024
2022-12-30 14:15:00+05:30  2553.149902  2226.250000    573.049988
2022-12-30 15:15:00+05:30  2564.949951  2219.550049    571.000000

                                                                             \
                             ANURAS.NS  ASTERDM.NS AXISBANK.NS BAYERCROP.NS
Datetime
2022-01-03 09:15:00+05:30   997.349976  179.649994  687.200012  4990.100098
2022-01-03 10:15:00+05:30  1003.599976  178.600006  691.400024  4999.899902
2022-01-03 11:15:00+05:30  1006.450012  178.050003  692.000000  4966.750000
2022-01-03 12:15:00+05:30  1014.000000  177.699997  695.150024  4967.149902
2022-01-03 13:15:00+05:30  1018.299988  178.800003  694.500000  4952.750000
...                                ...         ...         ...          ...
2022-12-30 11:15:00+05:30   677.000000  231.199997  935.200012  4862.600098
2022-12-30 12:15:00+05:30   674.150024  231.250000  933.500000  4855.750000
2022-12-30 13:15:00+05:30   675.099976  230.500000  936.849976  4874.000000
2022-12-30 14:15:00+05:30   678.849976  231.199997  933.200012  4948.000000
2022-12-30 15:15:00+05:30   679.450012  231.100006  934.250000  4937.399902

                           ...      Volume                              \
                           ... SHREECEM.NS STARHEALTH.NS TATACONSUM.NS
Datetime                   ...
2022-01-03 09:15:00+05:30  ...           0             0             0
2022-01-03 10:15:00+05:30  ...        1342         37896        150540
2022-01-03 11:15:00+05:30  ...        1819          8006        175438
2022-01-03 12:15:00+05:30  ...        1397         19198        118295
2022-01-03 13:15:00+05:30  ...        3230         23795         86904
...                        ...         ...           ...           ...
2022-12-30 11:15:00+05:30  ...        7248         16956         86060
2022-12-30 12:15:00+05:30  ...        4233         12332         73767
2022-12-30 13:15:00+05:30  ...        6364         11380         63546
2022-12-30 14:15:00+05:30  ...       10576         13389        156730
2022-12-30 15:15:00+05:30  ...        2426         12601        118351

                                                                           \
                          TATAINVEST.NS TECHM.NS THERMAX.NS TTKPRESTIG.NS
Datetime
2022-01-03 09:15:00+05:30             0        0          0             0
2022-01-03 10:15:00+05:30          8109   191929      37097         62825
2022-01-03 11:15:00+05:30          3059   238614       8014         33965
2022-01-03 12:15:00+05:30          1786   159259       3857         12815
2022-01-03 13:15:00+05:30          8403   163548       3412         10663
...                                 ...      ...        ...           ...
2022-12-30 11:15:00+05:30          1766   137897       1175          3203
2022-12-30 12:15:00+05:30          2381   177888       5163          2429
2022-12-30 13:15:00+05:30           709   201976       4732          1805
2022-12-30 14:15:00+05:30          2441   176664       3320          5283
2022-12-30 15:15:00+05:30          1689    92390       3198          4414


                           VEDL.NS WELCORP.NS WHIRLPOOL.NS
Datetime
2022-01-03 09:15:00+05:30        0          0          0.0
2022-01-03 10:15:00+05:30  1146512     157360      33881.0
2022-01-03 11:15:00+05:30  1527974      89077      19255.0
2022-01-03 12:15:00+05:30   670324     105924      10344.0
2022-01-03 13:15:00+05:30  1467574      86967      13829.0
...                            ...        ...          ...
2022-12-30 11:15:00+05:30   598615     143039       3162.0
2022-12-30 12:15:00+05:30   510527      72545       5645.0
2022-12-30 13:15:00+05:30   419112     103713       4334.0
2022-12-30 14:15:00+05:30  1052979     310860       8545.0
2022-12-30 15:15:00+05:30   415090     156639       5314.0

[1730 rows x 300 columns]

In [15]:
scaler = MinMaxScaler()
d=scaler.fit_transform(data.iloc[0:,0:])
scaled_df = pd.DataFrame(d)
cols = list(scaled_df.columns)
scaled_df.head()

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,0.985893,0.001258,0.406123,0.273076,0.502098,0.895586,0.868577,0.185004,0.198505,0.575476,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.974148,0.004163,0.428023,0.267145,0.494883,0.892673,0.880719,0.175688,0.211061,0.583476,...,0.004504,0.018408,0.016655,0.006400,0.043205,0.097864,0.030332,0.047893,0.026913,0.054896
2,0.985899,0.000000,0.482375,0.265120,0.497828,0.884383,0.886255,0.170807,0.212855,0.556413,...,0.006105,0.003889,0.019410,0.002414,0.053714,0.021141,0.016398,0.063827,0.015235,0.031198
3,0.984600,0.003145,0.482375,0.261436,0.496282,0.885503,0.900923,0.167702,0.222272,0.556739,...,0.004689,0.009326,0.013088,0.001410,0.035851,0.010175,0.006187,0.028001,0.018116,0.016760
4,0.985893,0.003324,0.506674,0.254070,0.503571,0.882366,0.909276,0.177462,0.220329,0.544983,...,0.010841,0.011559,0.009615,0.006632,0.036816,0.009001,0.005148,0.061304,0.014874,0.022407

In [16]:
data.columns = [f'{i}{j}' for i,j in data.columns]
data

,Adj Close3MINDIA.NS,Adj CloseADANIGREEN.NS,Adj CloseAFFLE.NS,Adj CloseAIAENG.NS,Adj CloseAKZOINDIA.NS,Adj CloseAMARAJABAT.NS,Adj CloseANURAS.NS,Adj CloseASTERDM.NS,Adj CloseAXISBANK.NS,Adj CloseBAYERCROP.NS,...,VolumeSHREECEM.NS,VolumeSTARHEALTH.NS,VolumeTATACONSUM.NS,VolumeTATAINVEST.NS,VolumeTECHM.NS,VolumeTHERMAX.NS,VolumeTTKPRESTIG.NS,VolumeVEDL.NS,VolumeWELCORP.NS,VolumeWHIRLPOOL.NS
Datetime,,,,,,,,,,,,,,,,,,,,,
2022-01-03 09:15:00+05:30,25799.949219,1346.099976,1133.300049,1880.800049,2037.000000,640.900024,997.349976,179.649994,687.200012,4990.100098,...,0,0,0,0,0,0,0,0,0,0.0
2022-01-03 10:15:00+05:30,25700.000000,1350.949951,1147.000000,1872.750000,2032.099976,640.250000,1003.599976,178.600006,691.400024,4999.899902,...,1342,37896,150540,8109,191929,37097,62825,1146512,157360,33881.0
2022-01-03 11:15:00+05:30,25800.000000,1344.000000,1181.000000,1870.000000,2034.099976,638.400024,1006.450012,178.050003,692.000000,4966.750000,...,1819,8006,175438,3059,238614,8014,33965,1527974,89077,19255.0
2022-01-03 12:15:00+05:30,25788.949219,1349.250000,1181.000000,1865.000000,2033.050049,638.650024,1014.000000,177.699997,695.150024,4967.149902,...,1397,19198,118295,1786,159259,3857,12815,670324,105924,10344.0
2022-01-03 13:15:00+05:30,25799.949219,1349.550049,1196.199951,1855.000000,2038.000000,637.950012,1018.299988,178.800003,694.500000,4952.750000,...,3230,23795,86904,8403,163548,3412,10663,1467574,86967,13829.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-30 11:15:00+05:30,22050.050781,1957.550049,1089.000000,2598.449951,2229.649902,560.599976,677.000000,231.199997,935.200012,4862.600098,...,7248,16956,86060,1766,137897,1175,3203,598615,143039,3162.0
2022-12-30 12:15:00+05:30,22031.699219,1954.000000,1086.000000,2616.149902,2222.350098,558.799988,674.150024,231.250000,933.500000,4855.750000,...,4233,12332,73767,2381,177888,5163,2429,510527,72545,5645.0
2022-12-30 13:15:00+05:30,22001.000000,1964.050049,1079.550049,2614.500000,2224.550049,562.400024,675.099976,230.500000,936.849976,4874.000000,...,6364,11380,63546,709,201976,4732,1805,419112,103713,4334.0
2022-12-30 14:15:00+05:30,21975.599609,1920.000000,1085.949951,2553.149902,2226.250000,573.049988,678.849976,231.199997,933.200012,4948.000000,...,10576,13389,156730,2441,176664,3320,5283,1052979,310860,8545.0
2022-12-30 15:15:00+05:30,21943.099609,1931.800049,1080.000000,2564.949951,2219.550049,571.000000,679.450012,231.100006,934.250000,4937.399902,...,2426,12601,118351,1689,92390,3198,4414,415090,156639,5314.0

In [17]:
scaled_df.columns= data.columns
scaled_df

,Adj Close3MINDIA.NS,Adj CloseADANIGREEN.NS,Adj CloseAFFLE.NS,Adj CloseAIAENG.NS,Adj CloseAKZOINDIA.NS,Adj CloseAMARAJABAT.NS,Adj CloseANURAS.NS,Adj CloseASTERDM.NS,Adj CloseAXISBANK.NS,Adj CloseBAYERCROP.NS,...,VolumeSHREECEM.NS,VolumeSTARHEALTH.NS,VolumeTATACONSUM.NS,VolumeTATAINVEST.NS,VolumeTECHM.NS,VolumeTHERMAX.NS,VolumeTTKPRESTIG.NS,VolumeVEDL.NS,VolumeWELCORP.NS,VolumeWHIRLPOOL.NS
0,0.985893,0.001258,0.406123,0.273076,0.502098,0.895586,0.868577,0.185004,0.198505,0.575476,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.974148,0.004163,0.428023,0.267145,0.494883,0.892673,0.880719,0.175688,0.211061,0.583476,...,0.004504,0.018408,0.016655,0.006400,0.043205,0.097864,0.030332,0.047893,0.026913,0.054896
2,0.985899,0.000000,0.482375,0.265120,0.497828,0.884383,0.886255,0.170807,0.212855,0.556413,...,0.006105,0.003889,0.019410,0.002414,0.053714,0.021141,0.016398,0.063827,0.015235,0.031198
3,0.984600,0.003145,0.482375,0.261436,0.496282,0.885503,0.900923,0.167702,0.222272,0.556739,...,0.004689,0.009326,0.013088,0.001410,0.035851,0.010175,0.006187,0.028001,0.018116,0.016760
4,0.985893,0.003324,0.506674,0.254070,0.503571,0.882366,0.909276,0.177462,0.220329,0.544983,...,0.010841,0.011559,0.009615,0.006632,0.036816,0.009001,0.005148,0.061304,0.014874,0.022407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1725,0.545247,0.367505,0.335305,0.801731,0.785762,0.535738,0.246236,0.642413,0.939910,0.471385,...,0.024327,0.008236,0.009522,0.001394,0.031042,0.003100,0.001546,0.025006,0.024464,0.005123
1726,0.543090,0.365379,0.330509,0.814770,0.775013,0.527672,0.240699,0.642857,0.934828,0.465793,...,0.014208,0.005990,0.008161,0.001879,0.040044,0.013620,0.001173,0.021326,0.012407,0.009146
1727,0.539483,0.371399,0.320198,0.813554,0.778252,0.543805,0.242545,0.636202,0.944843,0.480692,...,0.021360,0.005528,0.007031,0.000560,0.045467,0.012483,0.000871,0.017507,0.017738,0.007022
1728,0.536498,0.345013,0.330429,0.768361,0.780755,0.591530,0.249830,0.642413,0.933931,0.541105,...,0.035497,0.006504,0.017340,0.001927,0.039769,0.008758,0.002551,0.043986,0.053166,0.013845
1729,0.532679,0.352081,0.320918,0.777053,0.770890,0.582344,0.250996,0.641526,0.937070,0.532451,...,0.008143,0.006121,0.013094,0.001333,0.020798,0.008437,0.002131,0.017339,0.026790,0.008610

In [18]:
scaled_df['Datetime'] = list(data.index)

In [20]:
long_df = pd.wide_to_long(scaled_df, 
                stubnames = ['Adj Close','Close','High','Open','Low', 'Volume'], 
                i=['Datetime'], 
                j='Stock', 
                suffix= '.+', 
                sep='')

In [21]:
long_df

,,Adj Close,Close,High,Open,Low,Volume
Datetime,Stock,,,,,,
2022-01-03 09:15:00+05:30,3MINDIA.NS,0.985893,0.985893,0.888631,0.944568,0.947214,0.000000
2022-01-03 10:15:00+05:30,3MINDIA.NS,0.974148,0.974148,0.881941,0.985907,0.981077,0.020944
2022-01-03 11:15:00+05:30,3MINDIA.NS,0.985899,0.985899,0.880112,0.974157,0.983562,0.008451
2022-01-03 12:15:00+05:30,3MINDIA.NS,0.984600,0.984600,0.879641,0.985907,0.994613,0.009429
2022-01-03 13:15:00+05:30,3MINDIA.NS,0.985893,0.985893,0.879112,0.985901,0.994372,0.008968
...,...,...,...,...,...,...,...
2022-12-30 11:15:00+05:30,WHIRLPOOL.NS,0.155467,0.155467,0.161853,0.178593,0.173824,0.005123
2022-12-30 12:15:00+05:30,WHIRLPOOL.NS,0.175321,0.175321,0.158945,0.156473,0.163599,0.009146
2022-12-30 13:15:00+05:30,WHIRLPOOL.NS,0.182753,0.182753,0.164460,0.176147,0.192229,0.007022
2022-12-30 14:15:00+05:30,WHIRLPOOL.NS,0.184484,0.184484,0.175692,0.183486,0.192229,0.013845
2022-12-30 15:15:00+05:30,WHIRLPOOL.NS,0.178070,0.178070,0.166566,0.184200,0.187525,0.008610

In [22]:
long_df.to_csv("normalized_long_data.csv",index=True)