In [23]:
from sklearn import preprocessing
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import datetime
from sklearn.preprocessing import MinMaxScaler

In [24]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.8/dist-packages (0.2.9)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.3.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.1)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.8/dist-packages (from yfinance) (39.0.0)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.28.2)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.8/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [15]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override()

In [17]:
stock_list = ['3MINDIA', 'ADANIGREEN','AFFLE','AIAENG','AKZOINDIA','AMARAJABAT','ANURAS','ASTERDM',
 'AXISBANK', 'BAYERCROP','BCG','BDL','BHARTIARTL','DABUR','DMART','FACT','FIVESTAR','FORTIS','GARFIBRES','GLAND',
 'GNFC', 'GUJGASLTD','HAPPSTMNDS','HAVELLS','IRCTC','KRBL','LALPATHLAB','LATENTVIEW','LICI','MAZDOCK','NH',
 'NMDC', 'PATANJALI','PGHL','PSB','RELAXO','RHIM','SAIL','SAPPHIRE','SCI','SHREECEM','STARHEALTH','TATACONSUM',
 'TATAINVEST', 'TECHM','THERMAX','TTKPRESTIG','VEDL','WELCORP','WHIRLPOOL']

In [19]:
for i in range(len(stock_list)):
  stock_list[i] += '.NS'
stock_list

['3MINDIA.NS',
 'ADANIGREEN.NS',
 'AFFLE.NS',
 'AIAENG.NS',
 'AKZOINDIA.NS',
 'AMARAJABAT.NS',
 'ANURAS.NS',
 'ASTERDM.NS',
 'AXISBANK.NS',
 'BAYERCROP.NS',
 'BCG.NS',
 'BDL.NS',
 'BHARTIARTL.NS',
 'DABUR.NS',
 'DMART.NS',
 'FACT.NS',
 'FIVESTAR.NS',
 'FORTIS.NS',
 'GARFIBRES.NS',
 'GLAND.NS',
 'GNFC.NS',
 'GUJGASLTD.NS',
 'HAPPSTMNDS.NS',
 'HAVELLS.NS',
 'IRCTC.NS',
 'KRBL.NS',
 'LALPATHLAB.NS',
 'LATENTVIEW.NS',
 'LICI.NS',
 'MAZDOCK.NS',
 'NH.NS',
 'NMDC.NS',
 'PATANJALI.NS',
 'PGHL.NS',
 'PSB.NS',
 'RELAXO.NS',
 'RHIM.NS',
 'SAIL.NS',
 'SAPPHIRE.NS',
 'SCI.NS',
 'SHREECEM.NS',
 'STARHEALTH.NS',
 'TATACONSUM.NS',
 'TATAINVEST.NS',
 'TECHM.NS',
 'THERMAX.NS',
 'TTKPRESTIG.NS',
 'VEDL.NS',
 'WELCORP.NS',
 'WHIRLPOOL.NS']

In [31]:
data = pdr.get_data_yahoo(stock_list, start="2022-01-01", end="2022-12-31",interval="1h")
df = pd.ExcelWriter('Stocks.xlsx')
data.to_excel(df, index=True)
data

[*********************100%***********************]  50 of 50 completed

ValueError: ignored

In [22]:
data.columns

MultiIndex([('Adj Close',    '3MINDIA.NS'),
            ('Adj Close', 'ADANIGREEN.NS'),
            ('Adj Close',      'AFFLE.NS'),
            ('Adj Close',     'AIAENG.NS'),
            ('Adj Close',  'AKZOINDIA.NS'),
            ('Adj Close', 'AMARAJABAT.NS'),
            ('Adj Close',     'ANURAS.NS'),
            ('Adj Close',    'ASTERDM.NS'),
            ('Adj Close',   'AXISBANK.NS'),
            ('Adj Close',  'BAYERCROP.NS'),
            ...
            (   'Volume',   'SHREECEM.NS'),
            (   'Volume', 'STARHEALTH.NS'),
            (   'Volume', 'TATACONSUM.NS'),
            (   'Volume', 'TATAINVEST.NS'),
            (   'Volume',      'TECHM.NS'),
            (   'Volume',    'THERMAX.NS'),
            (   'Volume', 'TTKPRESTIG.NS'),
            (   'Volume',       'VEDL.NS'),
            (   'Volume',    'WELCORP.NS'),
            (   'Volume',  'WHIRLPOOL.NS')],
           length=300)

In [32]:
scaler = MinMaxScaler()
d=scaler.fit_transform(data.iloc[2:,1:])
scaled_df = pd.DataFrame(d)
cols = list(scaled_df.columns)
scaled_df.head()

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

,0,1,2,3,4,5,6,7,8,9,...,289,290,291,292,293,294,295,296,297,298
0,0.000000,0.482375,0.265120,0.497828,0.884383,0.886255,0.170807,0.212855,0.556413,0.871844,...,0.006105,0.003889,0.019410,0.002414,0.053714,0.021141,0.016398,0.063827,0.015235,0.031198
1,0.003145,0.482375,0.261436,0.496282,0.885503,0.900923,0.167702,0.222272,0.556739,0.878607,...,0.004689,0.009326,0.013088,0.001410,0.035851,0.010175,0.006187,0.028001,0.018116,0.016760
2,0.003324,0.506674,0.254070,0.503571,0.882366,0.909276,0.177462,0.220329,0.544983,0.878607,...,0.010841,0.011559,0.009615,0.006632,0.036816,0.009001,0.005148,0.061304,0.014874,0.022407
3,0.000060,0.508912,0.254033,0.506516,0.881918,0.975425,0.173913,0.225112,0.549229,0.866772,...,0.013926,0.041671,0.016396,0.008327,0.059548,0.043905,0.007860,0.092967,0.021721,0.037916
4,0.000928,0.503557,0.263904,0.502687,0.882366,0.993686,0.173026,0.225859,0.550290,0.859671,...,0.006293,0.015731,0.008890,0.003176,0.044487,0.015675,0.004588,0.034474,0.017591,0.022567